

.footer {
    position:absolute;
    bottom:0;
    background-color: #cce6ff;
    color: black;
    width: 100%;
    display: block;
    clear: both;
}

#footer-linha-um{
    display: inline-block;
    width: 90%;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 0px;
    margin: 0px;
}

#footer-linha-dois{
    display: inline-block;
    width: 90%;
    padding-left: 4%;
    padding-bottom: 0.8%;
}

#coluna-um{
    width:40% ;
    float: left;
    clear: both;
}

#coluna-um ul {
    float: left;
    display: table;
    margin: 0px;
    padding: 0px;
}

#coluna-um ul li {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}


#coluna-dois{
    float: right;
    clear: right;
    width:30%;
    padding-right: 10%;
}

.footer p, i{
    font-size: 0.9em;
}

.footer img{
    border-radius: 20px;
}


#coluna-um-footer{
    width: 50%;
    float: left;
    clear: both;
    padding: 0px;
    margin: 0px;
}

#coluna-dois-footer{
    width: 20%;
    float: right;
    clear: right;
    padding-right: 20% ;
    padding-bottom: 0px;
    margin: 0px;
}

#coluna-dois-footer ul {
    float: right;
    display: table;
}

.footer ul li {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.icones-sociais img{
    width: 40px;
    margin: 0px;
    padding: 0px;
}
