
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 6%;
    margin-right: 6%;
}
#content {
    padding-left: 6%;
    padding-right: 6%;


}
h1, h2{
    color: cornflowerblue;
}

hr {
    margin: 40px 0;
  }

.subtitulo{
    font-size: 1.6em;
}

.topicos{
    padding-left: 4%;
    display: inline-block;
    width: 100%;
}

.topico{
    font-size: 2.4em;
    color: darkgrey;
    float: left;
    margin-right: 2%;
    margin-top: 1%;
}

.topicos li, p{
    font-size: 1.2em;
}

#div-um{
    margin-bottom: 4%;
}

#div-um h2{
}

#div-general{
    display: inline-block;
    width: 100%;
}
#div-dois{
    width: 47%;
    float: left;
    padding-right: 6%;
}

#div-tres{
    width: 47%;
    float: right;
}

#footer{
    width: 100%;
    display: inline-block;
    text-decoration: inherit;
    list-style-type: none;
    background-color: lavender;

}

#footer li{
    list-style-type: none;

}

#footer-div-um{
    float: left;
    width: 25%;
    -moz-text-decoration-style: inherit;
    font-size: 0.9em;

}


#footer-div-dois{
    float: left;
    width: 25%;
    text-decoration: inherit;
    font-size: 0.9em;

}

small{
    float: right;
}
