
body{
    margin: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#content {
    padding-left: 4%;
}
h1, h2{
    color: cornflowerblue;
}

hr {
    margin: 40px 0;
  }

.subtitulo{
    font-size: 1.6em;
}

.topicos{
    padding-left: 4%;
}

.topicos li, p{
    font-size: 1em;
}

#div-um{
    background-color: lightblue;
}

#div-um h2{
    color: cornflowerblue;
}

#div-general{
    display: inline-block;
    width: 100%;
}
#div-dois{
    width: 50%;
    background-color: bisque;
    float: left;
}

#div-tres{
    width: 50%;
    background-color: coral;
    float: right;
}

