
body{
    margin: 4%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#content {
    padding-left: 6%;
    padding-right: 6%;

}
h1, h2{
    color: cornflowerblue;
}

hr {
    margin: 40px 0;
  }

.subtitulo{
    font-size: 1.6em;
}

.topicos{
    padding-left: 4%;
    display: inline-block;
    width: 100%;
}

.topico{
    font-size: 2.4em;
    color: darkgrey;
    float: left;
    margin-right: 2%;
    margin-top: 1%;
}

.topicos li, p{
    font-size: 1.2em;
}

#div-um{
    margin-bottom: 4%;
}

#div-um h2{
}

#div-general{
    display: inline-block;
    width: 100%;
}
#div-dois{
    width: 47%;
    float: left;
    padding-right: 6%;
}

#div-tres{
    width: 47%;
    float: right;
}

