<!DOCTYPE html>
<html>
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-sacale=1.0">

        <link href="assets/css/sobre.css" rel="stylesheet">
        <link href="assets/css/footer.css" rel="stylesheet">
        <link href="assets/css/menu.css" rel="stylesheet">
        
        <title>Sobre</title>
        <link rel = "icon" type = "imagem/png" href = "assets/icons/logo-page.png"/>

    </head>
    <body>
        <div class="menu">
            <img src="assets/imagens/logo.png">
            <a href="#news">News</a>
            <a href="#objetivos">Objetivos</a>
            <a href="templates/sobre.html">Sobre</a>
            <a class="active"href="#home">Home</a>
        </div>

        <div class="content">

        </div>

        <div class="footer">
            <div id="footer-linha-um">

                <div id="coluna-um">
                    <h5>+ EDUCAÇÃO</h5>
                    <p>Site criado baseado na  
                        <a href="https://nacoesunidas.org/pos2015/ods4/"> ODS 4</a> - Educação de qualidade
                    </p>
                    <i> "Assegurar a educação inclusiva, equitativa e de qualidade, e promover oportunidades de aprendizagem ao longo da vida para todos."</i>
                    <p> Acesse meu portfólio: </p>
                        
                        <ul  class="icones-sociais">
                            <li> <a href="https://www.instagram.com/onix.coding/?hl=pt-br" target="_blanck"><img src="assets/imagens/logo-portfolio.png" alt="logo portfolio"></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/ver%C3%B4nica-souza-450907184/" target="_blank"><img src="assets/icons/icon-linkedin.png" alt="Icone do linkedin"></a>
                            </li>
                        </ul>

                </div>

                <div id="coluna-dois">
                    <h5>SAIBA MAIS...</h5>
                    <p>Sobre a Agenda</p>
                    <p>Objetivos</p>
                    <p>Noticias</p>
                    <p></p>
                    <p>Acesse as redes sociais:</p>
                </div>

                <div id="coluna-dois-footer">
                    <ul class="icones-sociais">
                        <li><a href="https://twitter.com/ONUBrasil" target="_blank"><img src="assets/icons/icon-tt.png" alt="Icone do Twitter"></a></li>
                        <li><a href="https://pt-br.facebook.com/ONUoficial/" target="_blank"><img src="assets/icons/icon-facebook.png" alt="Icone do Facebook"></a></li>
                        <li><a href="https://www.instagram.com/onubrasil/?hl=pt-br" target="_blank"><img src="assets/icons/icon-instagram.png" alt="Icone do instagram"></a></li>
                        <li> <a href="https://nacoesunidas.org/pos2015/ods4/" target="_blanck"><img src="assets/icons/icon-onu.png" alt="Icone da ONU"></a></li>
                    </ul>
                </div>

            </div>

            <div id="footer-linha-dois">
                <div id="coluna-um-footer">
                    <p>&copy Copyright Verônica Souza | 2020</p>
                </div>
            </div>

    </body>
</html>