<!DOCTYPE html>
<html>
    <head>  
        <meta charset="UTF-8">
        <link href="assets/css/sobre.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-sacale=1.0">
        <title>Sobre</title>
    </head>
    <body>
        <div id="titulo">
            <h1>SOBRE</h1>
            <hr>
        </div>
        <div id="content">

            <div id="div-um">
                <h2>OBJETIVO 4: EDUCAÇÃO DE QUALIDADE</h2>

                <div class="subtitulo"><p>"Assegurar a educação inclusiva e equitativa e de qualidade, 
                    <br>e promover oportunidades de aprendizagem ao longo da vida para todas e todos."</p>
                </div>

                <hr>

                <h2>As ações por trás dos objetivos</h2>
            
                    <div class="topicos">
                            <div class="topico">4.1</div> <p>Até 2030, garantir que todas as meninas e meninos completem o ensino primário e secundário livre,
                            <br> equitativo e de qualidade, que conduza a resultados de aprendizagem relevantes e eficazes.</p>
            
                            <div class="topico">4.2</div> <p>Até 2030, garantir que todos as meninas e meninos tenham acesso a um desenvolvimento de qualidade
                            <br>na primeira infância, cuidados e educação pré-escolar, de modo que eles estejam prontos para o ensino primário.</p>

                            <div class="topico">4.3</div><p>Até 2030, assegurar a igualdade de acesso para todos os homens e mulheres à educação técnica,
                            <br> profissional e superior de qualidade, a preços acessíveis, incluindo universidade.</p>
            
                            <div class="topico">4.4</div><p> Até 2030, aumentar substancialmente o número de jovens e adultos que tenham habilidades relevantes, 
                            <br>inclusive competências técnicas e profissionais, para emprego, trabalho decente e empreendedorismo.</p>
            
                            <div class="topico">4.5</div><p> Até 2030, eliminar as disparidades de gênero na educação e garantir a igualdade de acesso a
                            <br> todos os níveis de educação e formação profissional para os mais vulneráveis,
                            <br>incluindo as pessoas com deficiência, povos indígenas e as crianças em situação de vulnerabilidade</p>
                            
                            <div class="topico">4.6</div><p>Até 2030, garantir que todos os jovens e uma substancial proporção dos adultos,
                            <br> homens e mulheres estejam alfabetizados e tenham adquirido o conhecimento básico de matemática</p>
            
                            <div class="topico">4.7</div><p> Até 2030, garantir que todos os alunos adquiram conhecimentos e habilidades necessárias
                            <br> para promover o desenvolvimento sustentável, inclusive, entre outros, por meio da educação
                            <br>para o desenvolvimento sustentável e estilos de vida sustentáveis, direitos humanos,
                            <br> igualdade de gênero, promoção de uma cultura de paz e não violência, cidadania global e 
                            <br>valorização da diversidade cultural e da contribuição da cultura para o desenvolvimento sustentável</p>
            
                            <div class="topico">4.a</div><p>Construir e melhorar instalações físicas para educação, apropriadas para crianças e 
                            <br>sensíveis às deficiências e ao gênero, e que proporcionem ambientes de aprendizagem seguros 
                            <br>e não violentos, inclusivos e eficazes para todos</p>
            
                            <div class="topico">4.b</div><p>Até 2020, substancialmente ampliar globalmente o número de bolsas de estudo para os
                            <br> países em desenvolvimento, em particular os países menos desenvolvidos, pequenos Estados insulares
                            <br> em desenvolvimento e os países africanos, para o ensino superior, incluindo programas de formação profissional,
                            <br>  de tecnologia da informação e da comunicação, técnicos, de engenharia e programas científicos em 
                            <br> países desenvolvidos e outros países em desenvolvimento</p>
                            
                            <div class="topico">4.c</div><p>Até 2030, substancialmente aumentar o contingente de professores qualificados,
                            <br>inclusive por meio da cooperação internacional para a formação de professores, nos países em desenvolvimento,
                            <br> especialmente os países menos desenvolvidos e pequenos Estados insulares em desenvolvimento.</p>
                    </div>
            </div>

            <div id="div-general"> 
                <div id="div-dois">
                    <div class="topicos">
                        <h2>O que são os ODS: <br>(Objetivos de desenvolviemnto sustentável)</h2>
                        <p>As Nações Unidas definiram os Objetivos de Desenvolvimento Sustentável (ODS) como parte de uma nova agenda de desenvolvimento sustentável que deve finalizar o trabalho dos ODM e não deixar ninguém para trás.</p>
                        <p>Essa agenda, lançada em setembro de 2015 durante a Cúpula de Desenvolvimento Sustentável, foi discutida na Assembleia Geral da ONU, onde os Estados-membros e a sociedade civil negociaram suas contribuições.</p>
                        <p>O processo rumo à agenda de desenvolvimento pós-2015 foi liderado pelos Estados-membros com a participação dos principais grupos e partes interessadas da sociedade civil.</p>
                        <p> A agenda reflete os novos desafios de desenvolvimento e está ligada ao resultado da Rio+20 – a Conferência da ONU sobre Desenvolvimento Sustentável – que foi realizada em junho de 2012 no Rio de Janeiro, Brasil.</p>
                    </div>
                </div>

                <div id="div-tres">
                    <h2>Siga a ONU</h2>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FONUBrasil%2F&tabs=timeline&width=400&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="400" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>                    
                    <div class="topicos">
                    </div>
                </div>

                <div id="div-quatro">
                </div>
            </div>

        </div>
            
    </body>
</html>